# 데이터 폴더
data/
*.txt
*.jpg
*.png

# PyInstaller 빌드 파일
build/
dist/
*.spec

# Python 캐시 파일
__pycache__/
*.py[cod]
*$py.class

# 가상 환경
venv/
env/
.env/

# IDE 설정
.vscode/
.idea/

# 시스템 파일
.DS_Store
Thumbs.db

# 추가된 파일
ulti/
structure.md 